header div.wrapper_header nav ul.menu_header,
header div.wrapper_header nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

main.content_page #section_1 .wrapper_section .content_tab,
main.content_page #section_6 .wrapper_section .content_tab {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer,
main.content_page hr,
header div.wrapper_header {
  margin: 0 auto;
  width: 75%;
  padding: 20px 0;
}

footer .item_nav_footer li {
  font-size: 0.9rem;
  color: #58402c;
  font-weight: lighter;
}

header div.wrapper_header {
  border-bottom: 2px solid lightgray;
}

header div.wrapper_header nav a {
  color: #58402c;
}

header div.wrapper_header nav a.logo_home {
  font-size: 24px;
}

header div.wrapper_header nav ul.menu_header {
  width: 40%;
}

header div.wrapper_header nav ul.menu_header li:first-child:hover .nav_drop_down {
  display: block;
}

header div.wrapper_header nav ul.menu_header a:hover {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #30488f;
}

header div.wrapper_header nav ul.menu_header nav.nav_drop_down {
  position: absolute;
  left: -25%;
  top: 20px;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 10px;
  display: none;
}

header div.wrapper_header nav ul.menu_header nav.nav_drop_down ul {
  padding: 0 25px;
}

header div.wrapper_header nav ul.menu_header nav.nav_drop_down ul li {
  margin: 20px 0;
}

header div.wrapper_header nav ul.menu_header nav.nav_drop_down ul li:first-child,
header div.wrapper_header nav ul.menu_header nav.nav_drop_down ul li:last-child {
  margin: 5px 0;
}

header div.wrapper_header nav .sign_up {
  color: #30488f;
  background-color: white;
  padding: 10px;
  border: 1px solid #30488f;
  border-radius: 10px;
  font-weight: lighter;
  font-weight: bold;
}

.hidden_header {
  background: white;
  display: none;
  border-bottom: 2px solid lightgray;
}

.hidden_header div.wrapper_header {
  border-bottom: none;
  padding: 10px 0;
}

main.content_page hr {
  padding: 0;
  color: lightgrey;
}

main.content_page section::after {
  display: table;
  content: "";
  clear: both;
}

main.content_page .wrapper_section {
  width: 75vw;
  margin: 40px auto;
  padding: 60px 0;
}

main.content_page .wrapper_section::after .wrapper_section {
  display: table;
  content: "";
  clear: both;
}

main.content_page .col_right {
  float: right;
}

main.content_page .col_left {
  float: left;
}

main.content_page .wrapper_section::after,
main.content_page section::after {
  display: table;
  content: "";
  clear: both;
}

main.content_page .figure_textbox p {
  font-size: 1.125rem;
}

main.content_page section.page_section {
  /* height: $heigth_section_menoheader; */
}

main.content_page section.page_section .wrapper_section {
  width: 100vw;
  margin: 40px auto;
  padding: 60px 0;
}

main.content_page section.page_section .col {
  width: 50%;
  /* .wrapper_grid{
      width: 60%;
  } */
}

main.content_page section.page_section .col .wrapper_grid {
  width: 60%;
}

main.content_page section.page_section .col .wrapper_grid img {
  max-width: 80%;
  padding: 50px;
}

main.content_page section.page_section .col header {
  font-size: 1.3rem;
}

main.content_page section.page_section .col header h1 {
  line-height: 1.6em;
  margin-bottom: 20px;
}

main.content_page section.page_section .col header p {
  line-height: 1.6em;
  margin-bottom: 20px;
}

main.content_page section.page_section .col img {
  max-width: 100%;
  background-size: cover;
}

main.content_page #section_0 {
  height: calc(100vh - 68px);
}

main.content_page #section_0 p {
  font-weight: lighter;
  font-size: 22px;
}

main.content_page #section_0 figure img {
  max-width: 570px;
  margin-bottom: 70px;
}

main.content_page #section_0 form label {
  margin: 10px;
}

main.content_page #section_0 form .button_sign_up {
  color: white;
  background-color: #30488f;
  padding: 10px 20px;
  border: 1px solid lightblue;
  border-radius: 10px;
  font-weight: lighter;
}

main.content_page #section_0 form i {
  color: white;
}

main.content_page #section_0 form .another_log_in {
  margin-top: 25px;
}

main.content_page #section_0 .col_left {
  width: 45%;
}

main.content_page #section_0 .col_left header {
  font-size: 2rem;
  margin-bottom: 40px;
}

main.content_page #section_0 .col_left header h1 {
  line-height: 1.6em;
  margin-bottom: 20px;
}

main.content_page #section_0 .col_left header p {
  line-height: 1.6em;
  margin-bottom: 20px;
}

main.content_page #section_0 .col_left > * {
  margin-bottom: 40px;
}

main.content_page #section_1,
main.content_page #section_6 {
  background-color: #ffe7d2;
}

main.content_page #section_1 form label,
main.content_page #section_6 form label {
  margin: 10px;
}

main.content_page #section_1 form .button_sign_up,
main.content_page #section_6 form .button_sign_up {
  color: white;
  background-color: #30488f;
  padding: 10px 20px;
  border: 1px solid lightblue;
  border-radius: 10px;
  font-weight: lighter;
}

main.content_page #section_1 form i,
main.content_page #section_6 form i {
  color: white;
}

main.content_page #section_1 form .another_log_in,
main.content_page #section_6 form .another_log_in {
  margin-top: 25px;
}

main.content_page #section_1 header,
main.content_page #section_6 header {
  font-size: 1.3rem;
}

main.content_page #section_1 header h1,
main.content_page #section_6 header h1 {
  line-height: 1.6em;
  margin-bottom: 20px;
}

main.content_page #section_1 header p,
main.content_page #section_6 header p {
  line-height: 1.6em;
  margin-bottom: 20px;
}

main.content_page #section_1 .wrapper_section,
main.content_page #section_6 .wrapper_section {
  text-align: center;
}

main.content_page #section_1 .wrapper_section h2,
main.content_page #section_6 .wrapper_section h2 {
  width: 50%;
  margin: 0 auto;
}

main.content_page #section_1 .wrapper_section .content_tab,
main.content_page #section_6 .wrapper_section .content_tab {
  width: 80%;
  margin: 0 auto;
  justify-content: space-around;
  text-align: center;
}

main.content_page #section_1 .wrapper_section .content_tab figure,
main.content_page #section_6 .wrapper_section .content_tab figure {
  width: calc(100% / 3 - 75px);
  margin-bottom: 75px;
}

main.content_page #section_1 .wrapper_section .content_tab figure img,
main.content_page #section_6 .wrapper_section .content_tab figure img {
  max-width: 100%;
  height: auto;
  background-size: cover;
}

main.content_page #section_1 .wrapper_section .content_tab figure.single_figurcol,
main.content_page #section_6 .wrapper_section .content_tab figure.single_figurcol {
  width: calc(100% / 3);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

main.content_page #section_1 .wrapper_section .content_tab .b_ico,
main.content_page #section_6 .wrapper_section .content_tab .b_ico {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  width: 80%;
  padding: 25px;
  height: 220px;
  text-align: center;
}

main.content_page #section_1 .another_log_in a i,
main.content_page #section_6 .another_log_in a i {
  color: 22px;
  margin-left: 10px;
}

main.content_page #section_1 .another_log_in a:hover,
main.content_page #section_6 .another_log_in a:hover {
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #30488f;
}

main.content_page blockquote.b_quote {
  width: 50%;
  text-align: justify;
  padding: 50px;
  margin: 25px auto;
  margin-bottom: 50px;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 10px;
}

main.content_page .b_quote_autor {
  display: flex;
}

main.content_page .b_quote_autor .b_quote_photo {
  width: 25%;
}

main.content_page .b_quote_autor .b_quote_photo img {
  width: 40%;
  border-radius: 50%;
  margin: 5px;
}

main.content_page .b_quote_autor .b_quote_cit {
  text-align: initial;
  display: flex;
  flex-direction: column;
  justify-content: center;
  line-height: 1.5rem;
  padding: 5px;
}

main.content_page .b_quote_autor .b_quote_cit .b_quote_name {
  color: blue;
}

footer {
  font-size: 18px;
  font-weight: bolder;
  color: #58402c;
}

footer .wrapper_footer {
  display: flex;
  padding: 50px 0;
  width: 100%;
}

footer .footer_col {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

footer .footer_col:first-child {
  width: 35%;
}

footer .footer_col:first-child .figure {
  width: 90%;
  display: flex;
}

footer .footer_col:last-child {
  /* @extend %flexRow; */
  width: 65%;
}

footer .row_footer {
  /* @extend %flexRow; */
  display: flex;
  justify-content: space-between;
  width: 100%;
}

footer .smile_ico {
  font-size: 45px;
  margin-right: 20px;
}

footer .item_nav_footer {
  margin-left: 10px;
  width: calc(100% / 5);
}

footer .item_nav_footer li {
  margin-top: 20px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  list-style: none;
  color: #58402c;
}

a {
  text-decoration: none;
  color: #58402c;
}

.container {
  width: 100%;
  height: 100%;
  /* padding: 50px 25px; */
  overflow: hidden;
}

hr {
  background-color: #58402c;
  /* margin: 100px 0; */
  height: 1px;
}

/* HELPER CLASS */

.after::after {
  display: table;
  content: "";
  clear: both;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

.block {
  display: block;
  z-index: 5;
}

