header{
    
    div.wrapper_header{
        @extend %sizing_position_Header_footer;

        border-bottom: 2px solid lightgray;

        nav{
            @extend %flexRow;

            a{
                color: $main_font_color;
            }

            a.logo_home{
                
                font-size: 24px;
            }

            ul{
                @extend %flexRow;

                width: 40%;

                a{
                 
                    &:hover{
                        -webkit-text-stroke-width: 1px; 
                        -webkit-text-stroke-color:  blue; 
                    }
                }
            }
        }

        
        
    }
}