main.content_page{

    hr{
        @extend %sizing_position_Header_footer;

        padding: 0;

        color: lightgrey;
    }

    section{
        &::after{
            display: table;
            content: "";
            clear: both;
        }
    }

    .wrapper_section{
        width: 75vw;

        margin: 40px auto;

        padding: 60px 0;
        
        &::after{
            .wrapper_section{
                display: table;
                content: "";
                clear: both; 
            }
        }
    }



    .col_right{
        float: right;
    }

    .col_left{
        float: left;
    }

    
    .wrapper_section::after,
    section::after{
        display: table;
        content: "";
        clear: both;    
    }

    .figure_textbox {
                        
        p{
            font-size: 1.125rem;
            
        }
    }

    section.page_section{

        /* height: $heigth_section_menoheader; */

        .wrapper_section{
            width: 100vw;
    
            margin: 40px auto;
    
            padding: 60px 0;    
        }
    

        .col{
            width: 50%;
            
            /* .wrapper_grid{
                width: 60%;
            } */

            .wrapper_grid{
                width: 60%;

                img{
                    max-width: 80%;
                    
                    padding: 50px;
                }
            }

            header{
                font-size: 1.3rem;
                
                h1{
                    line-height: 1.6em;
                   margin-bottom: 20px;
                }

                p{
                    line-height: 1.6em;
                   margin-bottom: 20px;
                }
            }

            img{
                max-width: 100%;
                background-size: cover;

            }
        }



    }


    #section_0{
        

        p{
            font-weight: lighter;
            font-size: $font_size_defoult;
        }

        height: $heigth_section_menoheader;

        figure img{
            max-width:570px;
            margin-bottom:70px
        }

        @import "forms";
      
        .col_left{
            
            width: 45%;
    
            header{
                font-size: 2rem;

                margin-bottom: 40px;
                
                h1{
                    line-height: 1.6em;
                    margin-bottom: 20px;
                }

                p{
                    line-height: 1.6em;
                    margin-bottom: 20px;
                }
            }
    
            & > * {
                margin-bottom: 40px;
              }
             
        }
    
        
    }

    #section_1,
    #section_6{

        @import "forms";

        background-color: $bg_section;
        
        header{
            font-size: 1.3rem;
            
            h1{
                line-height: 1.6em;
               margin-bottom: 20px;
            }

            p{
                line-height: 1.6em;
               margin-bottom: 20px;
            }
        }

        .wrapper_section{

            text-align: center;
            
            h2{
                width: 50%;
                margin: 0 auto;
            }

            .content_tab{

                @extend %flex_center_ondiv;

                width: 80%;
                margin: 0 auto;

                justify-content: space-around;

                text-align: center;
                
                

                figure{
                    width: calc(100% / 3 - 75px);
                    
                    margin-bottom: 75px;

                    img{
                        

                        max-width: 100%; 
                        height: auto;
                        background-size: cover;
                        
                    }
                }

                figure.single_figurcol{
                    width: calc(100% / 3);

                    position: relative;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    img{
                        
                        
                    }
                }


                .b_ico{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    margin: 0 auto;
                    width: 80%;
                   padding: 25px;
                    
                   height: 220px;

                   text-align: center;
                }
            }
        }

        .another_log_in{

            a{
                i{  
                    color: $font_size_defoult;
                    margin-left: 10px;
                }

                &:hover{
                    -webkit-text-stroke-width: 1px; 
                    -webkit-text-stroke-color:  #30488f; 
                }
            }
        }
    }
    
    blockquote.b_quote{
        width: 50%;

        

        text-align: justify;

        padding: 50px;
        margin: 25px auto;

        margin-bottom: 50px;

        background-color: white;

        border: 1px solid lightgrey;
        border-radius: 10px;
    }

    .b_quote_autor{
        display: flex;

        .b_quote_photo{
            width: 25%;

            img{
                width: 40%;
                border-radius: 50%;

                margin: 5px;
            }
        }

        .b_quote_cit{
            text-align: initial;

            display: flex;
            flex-direction: column;
            justify-content: center;
            line-height: 1.5rem;
            padding: 5px;

            .b_quote_name{
                color: blue;
            }
        }
    }
    
}
