main.content_page{

    .wrapper_section{
        width: 75vw;

        margin: 0 auto;

        padding: 100px 0;    
    }

    .wrapper_section::after,
    section::after{
        display: table;
        content: "";
        clear: both;    
    }


    #section_0{
        

        p{
            font-weight: lighter;
            font-size: $font_size_defoult;
        }

        height: calc(100vh - 68px);

        figure img{
            max-width:570px;
            margin-bottom:70px
        }

        @import "forms";
      
        .col_left{
            float: left;
            width: 45%;
    
            header{
                font-size: 2rem;

                margin-bottom: 40px;
                
                h1{
                    line-height: 1.6em;
                    margin-bottom: 20px;
                }

                p{
                    line-height: 1.6em;
                    margin-bottom: 20px;
                }
            }
    
            & > * {
                margin-bottom: 40px;
              }
             
        }
    
        .col_right{
            float: right;
        }

        
    }

    #section_1{

        background-color: $bg_section;
        
        .wrapper_section{
    
           

            text-align: center;
            
            .content_tab{

                @extend %flex_center_ondiv;

                text-align: center;

                figure{
                    width: calc(100% / 3 - 100px);

                                        

                    img{
                        width: 100%; 
                        height: 100%;
                        background-size: cover;

                        
                    }
                }

                .b_ico{
                   padding: 50px;
                    
                   height: 220px;
                }
            }
        }
    }
    
    
    
}
